include LICENSE
include README.md
include README-EN.md
include README-JP.md
include VERSION
include .env.example
include requirements.txt
include requirements-dev.txt

recursive-include config *.yaml
recursive-include opc_manager *.py *.typed
recursive-include opc_hr *.py
recursive-include frontend *.py

exclude install.sh
exclude start.sh
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude .github *
